html,
body {
    background: #00fcff3d;
}

.react-colorful {
    width: auto !important;
    height: 30vh !important;
    /* padding: 1rem; */
}

.react-colorful__alpha,
.react-colorful__hue {
    border-radius: 12px !important;
    margin-top: 1rem !important;
    height: 10px !important;
}

.fullscreen.fullscreen-enabled {
    background-color: #00fcff3d;
    overflow: auto;
}